.chartContainer {
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
  border: 3px solid black;
}

.chart {
  position: relative;
  padding:1%
}

.tooltip {
  position: absolute;
  padding: 8px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  z-index: 1;
}

.tooltipText {
  display: block;
  margin-bottom: 4px;
}

.tooltipLine {
  position: absolute;
  width: 1px;
  background-color: red;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .chartContainer {
   display:none
  }
}
